{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
	<h1>Posts</h1>
	{% if deleted %}<p>Your post was deleted</p>{% endif %}
	<p>You have <strong>{{ posts.length }}</strong> posts!</p>
	<p><a href="/posts/new">Create a Post</a></p>
	<ul id="posts">
		{% for post in posts %}
			<li id="post-{{ post.guid }}">
				<h2>{{ post.title }}</h2>
				<h3>{{ post.date|date('Y-m-d H:m:s') }}</h3>
				<p>
			<a href="/posts/{{ post.guid }}">Read post</a>
			<a href="/posts/{{post.guid}}/edit">Edit</a>
					<button data-guid="{{post.guid}}" onclick="deletePost(this)">Delete</button>
				</p>
			</li>
		{% endfor %}
	</ul>


{% endblock %}
